.role-pdf-upload {
    float: Left; /* Align to the right */
    padding: 20px;
  }
  
  .level {
    margin-bottom: 20px;
  }
  
  .pdf-inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .pdf-inputs input[type="file"] {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .remaining-files {
    flex-basis: 100%;
    margin-top: 5px;
    color: #999;
  }
  
  .checkbox-group {
    margin-top: 10px;
  }
  
  .add-level-button {
    margin-top: 20px;
  }
  