/* Create.css */
.form-group {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  margin-bottom: 20px;
}
.pdfContainer {
  overflow-y: auto;
  height: 80vh;
}
.mainContainer {
  height: 80vh;
  overflow-y: auto;
}

.form-control {
  width: 100%;
}
.container {
}
.scrollableContainer {
  height: 23vh;
  overflow-y: auto;
}
.inputContainer {
  padding-right: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.buttonContainer {
  position: sticky;
  bottom: 10px;
  background-color: white; /* Ensure button container has a background */
  padding: 10px; /* Adjust padding as necessary */
}

.RoleHeadline {
  color: #000;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 12px;
}
.AddRoleHeadline {
  color: #000;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 6px;
  margin-left: 10px;
}
.custom-dropdown {
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;

  padding: 20px; /* Add some padding for spacing */
}
.cancelButton {
  border-radius: 19.667px;
  border: 2px solid #d90368;
  width: 8vw;
  height: 7vh;
  flex-shrink: 0;
  background-color: inherit;
  color: #d90368;
  font-family: Open Sans;
  font-size: 16.52px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.33px;
  text-transform: uppercase;
  margin-right: 12px;
}
.nextButton {
  border-radius: 19.667px;
  border: 2px solid #d90368;
  width: 8vw;
  height: 7vh;
  flex-shrink: 0;
  background-color: inherit;
  background-color: #d90368;
  color: #fff;
  font-family: Open Sans;
  font-size: 16.52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.33px;
  text-transform: uppercase;
}

// variables

// mixins
/* Create.module.css */
.pageTitle {
  margin-top: 20px;
  color: #000;
  font-family: Open Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 12px;
}
.duplicate {
  margin-top: 12px;
}
.sectionTitle {
  color: #000;
  font-family: Open Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 12px;
  margin-top: 12px;
}
.label {
  color: #000;
  font-family: Open Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.checkboxGroup {
  display: flex;
  color: #000;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.checkBox {
  // background-color: #d90368;
  // color: #000;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.custom-dropdown {
  display: flex;
  flex-direction: column;
}

/* Additional custom styles */
