.game-details-container {
  display: flex;
  height: 100vh;
}

.left-side {
  width: 50%;
  padding: 20px;
  background-color: #f0f0f0;
}

.pdf-container {
  height: 70%;
}

.level-header {
  margin-top: 20px;
}

.right-side {
  width: 50%;
  padding: 20px;
  background-color: #ffffff;
  overflow-y: auto;
}

.round-header {
  margin-bottom: 20px;
}

.questions-container {
  display: flex;
  flex-direction: column;
}

.question {
  margin-bottom: 10px;
}
