.app-container {
  padding: 20px;
}
.activeHeader {
  background: #d90368 !important;
  color: #fff;
}
.levelHeaders {
  border: 1px solid #d90368;
  background: #d9e4e9;
  height: 73px;
  flex-shrink: 0;
  margin: 0 !important;
  color: #0b0b0b;
  text-align: center;
  font-family: Open Sans;
  font-size: 1.9vh;
  font-style: normal;
  font-weight: 600;
  line-height: 22.882px;
  cursor: pointer;
}
.startButtonContainer {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
.startButton {
  width: 12vw;
  height: 6vh;
  border: none;
  font-size: 1vw;

  flex-shrink: 0;
  border-radius: 15px;
  background: #ff6700;
  color: #fff;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.header {
  border-left: 1px solid #d90368;
  border-right: 1px solid #d90368;
}

.levelPage {
  /* // Add any additional styles for the level page container here */
}

.buttonRow {
  margin-bottom: 10px;
}

.rightSide {
  color: #000;
  font-family: Open Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.questionsContainer {
  color: #000;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  height: 63vh;
}
.leftSection {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rightSection {
  padding: 10px;
  color: #000;
  font-family: Open Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.icon {
  margin-bottom: 5px;
}

.submitButton {
  /* // Add any additional styles for the submit button here */
  margin-top: auto;
  color: #fff;
  font-family: Open Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 160px;
  height: 65px;
  flex-shrink: 0;
  border-radius: 25px;
  background-color: #d90368;
}

.questionsContainer {
  max-height: 600px;
  overflow-y: auto;
}

.questionTitle {
  font-size: 20px;
  font-weight: bold;
}

.question {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.options {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.input {
  margin-top: 5px;
}

.numberInput {
  width: 100px;
}

.options,
.input {
  display: flex;
  flex-direction: column;
}

.flex-grow-3 {
  flex-grow: 3;
}

.welcomeText {
  font-size: 30px;
  font-weight: bold;
}

.leftSection {
  padding: 20px;
}

.rightSection {
  padding: 20px;
}

.icon {
  margin-right: 10px;
}

.submitButtonRow {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.submitButtonCol {
  text-align: right;
}
.questionsCol {
  height: 70vh;
}

/* .submitButton {
  // Add any additional styles for the submit button here
} */

.game-details-container {
  display: flex;
  height: 100vh;
}

.left-side {
  width: 50%;
  padding: 20px;
  background-color: #f0f0f0;
}

.pdf-container {
  height: 70%;
}

.level-header {
  margin-top: 20px;
}

.right-side {
  color: #000;
  font-family: Open Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.round-header {
  margin-bottom: 20px;
}

.questions-container {
  display: flex;
  flex-direction: column;
}

.question {
  margin-bottom: 10px;
}
