@import url("../colors.css");

.test-game {
  color: #000;
}
.listStartButton {
  display: flex;
  width: 145px;
  height: 35px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #2a2d31;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 22.882px; /* 163.445% */
  width: 163px;
  height: 35px;
  border-radius: 24px;
  border: 1px solid #000;
  cursor: pointer;
  margin-bottom: 12px;
}
.center-both {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This ensures vertical centering */
}
.startPopup {
  width: 474px;
  height: 555px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--colors-white, #fff);

  &__headline {
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 133.333% */
  }

  &__text {
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 114.286% */
  }
  &__number {
    width: 236px;
    height: 74px;
    flex-shrink: 0;
    fill: rgba(217, 217, 217, 0.09);
    stroke-width: 2px;
    stroke: #000;
  }
  /* Shadow */
  box-shadow: 0px 4px 16px 0px rgba(51, 51, 51, 0.08),
    0px 4px 4px 0px rgba(51, 51, 51, 0.04);
  &__copyButton {
    width: 271px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #d90368;
    color: #fff;
    font-family: Open Sans;
    font-size: 16.8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.336px;
    text-transform: uppercase;
  }
}

.app-container {
  padding: 5%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: var(--primary-color);
  font-family: "Open Sans", Arial, sans-serif;
  padding: 30px;
  color: var(--white);

  &__message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__welcome-message {
      font-size: 35px;
      font-weight: bold;
      padding: 2% 35px;
    }

    &__date {
      font-size: 18px;
      text-align: center;
      padding-left: 35px;
    }
  }

  &__top-buttons {
    display: flex;
    flex-direction: column;
    width: 15%;
    text-align: center;

    &__top-button {
      margin-left: 10px;
      padding: 20px 0px;
      text-decoration: none;
      border-radius: 5px;
      margin: 5px;
      height: 20%;
      border-radius: 25px;
      border: 3px var(--white) solid;
      color: var(--white);
      text-align: center;
      &__new-game {
        color: #d90368;
        margin-left: 10px;
        padding: 20px 0px;
        text-decoration: none;
        border-radius: 5px;
        margin: 5px;
        height: 20%;
        border-radius: 25px;
        border: 3px solid #fff;
        background-color: #fff;
        height: 20%;
        text-align: center;
      }
      &__dup-game {
        margin-left: 10px;
        padding: 20px;
        text-decoration: none;
        margin: 5px;
        border-radius: 25px;
        height: 20%;
        border-radius: 25px;
        border: 3px var(--white) solid;
        color: var(--white);
        text-align: center;
      }

      &:hover {
        background-color: var(--white);
        color: var(--secondary-color);
      }
    }
  }
}

.bottom-section {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-top: 2%;

  &__left {
    &__title {
      color: #000;
      font-family: "Open Sans", Arial, sans-serif;

      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 2%;
    }
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 3vw;
  }
  &__right {
    &__title {
      color: #000;
      font-family: Open Sans;
      margin-bottom: 2%;

      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.game-list {
  border: 1px var(--primary-color) solid;
  border-width: 0.5px;
  border-radius: 15px 15px 0px 0px;
  margin-top: 20px;
  width: 100%;
  margin: 0 auto;

  &__headline {
    font-weight: bold;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 2; /* 108.964% */
    color: var(--white);
    background-color: var(--primary-color);
    padding: 2% 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px 15px 0px 0px;

    &__title {
      font-size: 20px;
      font-weight: bold;
    }
  }

  &__scrollable {
    padding: 2% 40px;
    color: #2a2d31;
    font-family: Open Sans;
    font-size: 18.757px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.248px; /* 134.602% */

    // overflow-y: auto;
    // max-height: 50vh;

    &__items {
      // list-style: none;
      // padding: 0;
      // margin: 0;
      margin-bottom: 12px;

      &__item {
        margin-bottom: 12px;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // padding: 16px 32px 8px 38px;

        &__attribute {
          // text-align: center;
          // padding: auto;
          &__clickable {
            cursor: pointer;
          }
        }
      }
    }
  }
}
