@import url("../colors.css");
.gameInfo {
  color: #000;
  font-family: Open Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.viewRoom {
  background-color: #000;
  &__container {
    padding: 12px;

    &__GamePageTitle {
      color: #000;
      font-family: "Open Sans", Arial, sans-serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-left: 2vw;
    }
  }
}
.customRow {
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-right: 0 !important; /* Remove padding-right */
  padding-left: 0 !important; /* Remove padding-left */
}
.startButton {
  background-color: transparent;
  border: 1px solid #ccc; /* Add a border to make it stand out */
  color: #333; /* Text color */
  padding: 5px 10px; /* Add some padding for spacing */
  cursor: pointer;
  outline: none;
}

.startButton:hover {
  color: darkblue; /* Change the color on hover for interactivity */
}

.gameInfoName {
  border-radius: 18px;
  background: #f8ebf0;
  height: 100px;
  flex-shrink: 0;
  color: #000;
  font-family: Proxima Nova;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 12px;
}
.gameInfoRoom {
  height: 100px;
  flex-shrink: 0;
  border-radius: 18px;
  background: #f8ebf0;
  color: #000;
  font-family: Proxima Nova;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.gameListButton {
  font-weight: bold;

  font-family: Proxima Nova;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.882px; /* 108.964% */
  color: black;
  padding: 10px 28px;
  display: flex;
  justify-content: space-between;
  border-radius: 15px 15px 0px 0px;
  margin-right: 1vw;
  margin-top: 2vh;
}

.gameList {
  border: 1px var(--primary-color) solid;
  border-width: 0.5px;
  border-radius: 15px 15px 0px 0px;
  margin-top: 20px;
  margin: 0 auto;
  padding-right: 0 !important; /* Remove padding-right */
  padding-left: 0 !important; /* Remove padding-left */

  &__headline {
    font-weight: bold;

    font-family: Proxima Nova;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 22.882px; /* 108.964% */
    color: var(--white);
    background-color: var(--primary-color);
    padding: 10px 28px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px 15px 0px 0px;

    &__title {
      font-family: Open Sans;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  &__scrollable {
    overflow-y: auto;
    max-height: 50vh;
    padding: 10px;

    &__items {
      &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 1vw;
        margin-top: 2vh;

        &__attribute {
          text-align: center;
          &__clickable {
            cursor: pointer;
            text-align: center;
          }
        }
      }
    }
  }
}
