:root {
  --welcome-container-height: 15vh;
  --welcome-font-size: 1.5vw;
  --welcome-date-size: 1.2rem;
  --welcome-font-weight-bold: 700;
  --welcome-font-weight-regular: 400;
  --welcome-padding: 1rem;
}

.welcome_container {
  border-radius: 8px;
  background: #d90368;
  margin: 1vh;
  width: 22vw !important;
}

.welcomeName,
.welcomeDate {
  color: #fff;
  font-family: "Open Sans";
  line-height: normal;
  padding: var(--welcome-padding);
}

.welcomeName {
  font-size: var(--welcome-font-size);
  font-weight: var(--welcome-font-weight-bold);
}

.welcomeDate {
  padding-top: 0;
  font-size: 1.3vw;
  font-weight: var(--welcome-font-weight-regular);
}

.PlayerList {
  max-height: 25vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.GameDetails {
  background: #fff;
  border: 1px solid #d90368; /* Added border style */
  border-radius: 16px 16px 15px 15px;
  margin: 12px !important;
  padding: 0 !important;
  flex-shrink: unset !important;
  width: 22vw !important;
  max-width: "none" !important;
}

.GameDetailItems {
  overflow-y: auto;
  max-height: 25vh;
}

.GameDetailsHeader {
  border-radius: 15px 15px 0px 0px;
  background: #d90368;
  color: #fff;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.882px;
  padding: 14px;
}

.DetailsList {
  list-style-type: disc; /* Add bullet points */
  padding: 0; /* Remove default list padding */
  margin: 0;
}

.DetailsRow {
  display: flex;
  width: 100% !important;
  justify-content: space-between;
  border-bottom: 1.5px solid #d90368;
  margin-left: 0 !important;
  margin-right: 0 !important;
  // height: 8vh;
  padding: 0.5vh !important;
}

.DetailsRow:last-child {
  border-bottom: none;
}

.LeftColumn {
  color: #2a2d31;
  font-family: Open Sans;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.RightColumn {
  color: #2a2d31;
  text-align: right;
  font-family: Open Sans;
  font-size: 1vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.PlayerRow {
  font-size: 1.2vw;
  padding: 14px;
}
.PlayerHeader {
  border-radius: 15px 15px 0px 0px;
  border: 1.5px solid #d90368;
  background: #d90368;
  color: #fff;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.882px;
  padding: 14px;
}
