.container {
  padding: 5%;
}
.welcome_container {
  border-radius: 8px;
  background: #d90368;
  height: 15vh;
  padding: 12px;
  margin: 12px;
}
.decision_container {
  padding: 12px;
}
.questionsContainer {
  padding-left: 12px;
  max-height: 50vh;
  overflow-y: auto;
  margin-bottom: 12px !important;
}
.question {
  margin-bottom: 4px !important;
}
.questions {
  margin-bottom: 12px;
}
.welcomeName {
  color: #fff;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 14px;
}
.startButtonContainer {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
.startButton {
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16.977px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.34px;
  text-transform: uppercase;
  border-radius: 20.21px;
  background: #FF6700;
  width: 173.305px;
  height: 60.631px;
  flex-shrink: 0;
}
.welcomeRole {
  color: #fff;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 14px;
}
.decision_header {
  color: #000;
  font-family: Open Sans;
  font-size: 23.272px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px 12px 12px !important;
}
