:root {
  --welcome-container-height: 15vh;
  --welcome-font-size: 1.5vw;
  --welcome-date-size: 1.2rem;
  --welcome-font-weight-bold: 700;
  --welcome-font-weight-regular: 400;
  --welcome-padding: 1rem;
}

.container {
  padding: 5%;
}
.welcome_container {
  border-radius: 15px;
  background: #2b2d42;
  margin: 1vh;
  width: 28vw !important;
}
.decision_container {
  padding: 12px;
}
.questionsContainer {
  padding-left: 12px;
  max-height: 50vh;
  overflow-y: auto;
  margin-bottom: 12px !important;
}
.question {
  margin-bottom: 4px !important;
}
.questions {
  margin-bottom: 12px;
}
.welcomeName,
.welcomeRole {
  color: #fff;
  font-family: "Open Sans";
  line-height: normal;
  padding: var(--welcome-padding);
}
.welcomeName {
  font-size: 18px;
  font-weight: var(--welcome-font-weight-bold);
}

.welcomeRole {
  padding-top: 0;
  font-size: 14px;
  font-weight: var(--welcome-font-weight-regular);
}
.startButtonContainer {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
.startButton {
  width: 160px;
  height: 50px;
  font-size: 0.8em;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.34px;
  text-transform: uppercase;
  border-radius: 20.21px;
  background: #ff6700;
  flex-shrink: 0;
}

.decision_header {
  color: #fff;
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
  margin: 0px 12px 12px !important;
}
