.container {
  background-color: #d9e4e9;
  height: calc(100vh - 8vh);
  border-radius: 0px 0px 40px 0px;
  border-bottom: 1px solid rgba(201, 201, 201, 0.2);
}
.leftContainer {
  background-color: #d9e4e9;
  height: calc(100vh - 8vh);
  border-radius: 0px 0px 40px 0px;
  border-bottom: 1px solid rgba(201, 201, 201, 0.2);
}
.rightContainer {
  background-color: #5c6378;
  color: #fff;
  height: calc(100vh - 8vh);
  border-radius: 0px 0px 0px 40px;
  border-bottom: 1px solid rgba(201, 201, 201, 0.2);
}
.custom-vw-width-50 {
  width: 50vw;
}
.customWidth75 {
  width: 75vw !important;
}
.custom_Width_full {
  width: 95vw !important;
}
.customWidth50 {
  width: 42vw !important;
}
.customwidth5 {
  width: 5vw !important;
}
.customWidth63 {
  width: 62vw !important;
}
.customWidth70 {
  width: 70vw !important;
}
.custom-width-5 {
  width: 5vw !important;
}
.customwidth33 {
  width: 33vw !important;
}
.customWidth90 {
  width: 90vw !important;
}
.custom-margin {
  width: 33vw !important;
}
.full-width {
  width: 100% !important;
}

.closed {
  flex: 1;
  height: calc(100vh - 50px);
}
.vertical_text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  transform-origin: center;
}
.navText {
  color: #2a2d31;
  margin-top: 28vh;
  font-family: Open Sans;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 0.5vw;
}
.right_closed_container {
  color: #fff;
}

.flex_wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex_centered {
  justify-content: center;
  align-items: center;
}

.flex_bottom_center {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
